@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1>Welcome to ChatBox</h1>
<p>Logga in eller registrera dig för att börja chatta.</p>

<p>
    <a asp-page="/Account/Login">Login</a> |
    <a asp-page="/Account/Register">Register</a>
</p>