@page
@model ChatBox.UI.Pages.Account.LogoutModel
@{
}



<h2>Logout</h2>

<p>Are you sure you want to logout?</p>

<form method="post">
    <button type="submit">Logout</button>
</form>

<br />

<a asp-page="/Index">Cancel</a>